upstream graphene_api_server {
    server django_nginx_secure_link:8000;
}

upstream frontend_server {
    server django_nginx_secure_frontend:8080;
}

# we're in the http context here
map $http_upgrade $connection_upgrade {
  default upgrade;
  ''      close;
}

server {
    listen 80;
    server_name ${DOMAIN_NAME};

    location /.well-known/acme-challenge/ {
        root /var/www/certbot;
    }

    location / {
        return 301 https://$host$request_uri;
    }
}

server {
    listen 443 ssl;
    server_name ${DOMAIN_NAME};

    ssl_certificate /etc/letsencrypt/live/example.org/fullchain.pem;
    ssl_certificate_key /etc/letsencrypt/live/example.org/privkey.pem;
    ssl_dhparam /etc/letsencrypt/ssl-dhparams.pem;

    root /opt/services/django_nginx_secure_link/dist;
    index   index.html index.htm;

    location /csrf {
    # take csrf token from django backend
    # https://stackoverflow.com/questions/43567052/csrf-token-of-django-into-vuejs-when-seperate-them
        proxy_pass http://graphene_api_server;
        proxy_http_version 1.1;
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_pass_header Set-Cookie;
        proxy_set_header Upgrade $http_upgrade;
        proxy_set_header Connection 'upgrade';
        proxy_cache_bypass $http_upgrade;
    }

    location /admin {
    # restrict access to admin section
        proxy_set_header Host $http_host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header X-Forwarded-Proto $scheme;
        proxy_pass http://graphene_api_server;

        allow 127.0.0.1;
        allow 192.168.88.0/24;
        deny all;
    }

    location /static {
        autoindex off;
        alias /opt/services/django_nginx_secure_link/static/;
    }

    location /media {
        autoindex off;
        alias /opt/services/django_nginx_secure_link/media/;
    }

    location /secure {
    # nginx secure link module
        autoindex off;
        alias /opt/services/django_nginx_secure_link/secure/;
        secure_link $arg_md5,$arg_expires;
        secure_link_md5 "${NGINX_SECRET}$uri$secure_link_expires";
        if ($secure_link = "") { return 403; }
        if ($secure_link = "0") { return 410; }
    }

    location /graphql {
        proxy_pass http://graphene_api_server;
        proxy_http_version 1.1;
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_pass_header Set-Cookie;
        proxy_set_header Upgrade $http_upgrade;
        proxy_set_header Connection 'upgrade';
        proxy_cache_bypass $http_upgrade;
    }

    location / {
        try_files $uri $uri/ @rewrites;
    }

    location @rewrites {
        rewrite ^(.+)$ /index.html last;
    }
}